<div class="container">
<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<h4>Here are your stories</h4>

{{#if stories}}
    <table class="table table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col" >Title</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col" style="width:  10%"></th>
    </tr>
  </thead>
  <tbody>
      {{#each stories}}
    <tr>
      
      <td><a href="/stories/{{_id}}">{{title}}</a></td>
      <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td>
        <a href="/stories/edit/{{_id}}" class="btn btn-success btn-sm mt-1"><i class="fas fa-edit"></i></a>
        <form action="/stories/{{_id}}" method="POST" id="delete-form" style="display: inline-block;">
          
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-sm mt-1">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
        {{/each}}
  </tbody>
</table>
{{else}}
<p>You have not created any stories</p>
{{/if}}

</div>
 